*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

nav > ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none
  
  ;

}